<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Cipherland</title>
  </head>
  <body>
    <div style="display: flex; width: 100vw; flex-direction: column; align-items: center;">
        <h1 style="margin-top: 25vh; padding-left: 20vw; direction: rtl; text-align: right;">در حال بازگشت به سایت سایفرلند...</h1>
    </div>
    <script>
        const transaction_id = {{transaction_id}};
        setTimeout(()=>{
            window.location.href = "/transaction/verifyresult/"+transaction_id;
        }, 200)
    </script>
  </body>

</html>